.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: var(--border-color);

    @include mq(tab) {
        padding-top: 21px;
        padding-bottom: 20px;
    }

    @include mq(desk) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    @include mq(tab) {
        margin-right: 87px;
    }

    @include mq(desk) {
        margin-right: 93px;
    }    
}

.header__contacts-list {
    margin-left: auto;
    display: flex;


    @include mq(mob-only) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 50px;
    }
}

.header__contacts-link {
    display: flex;
    gap: 10px;
    align-items: center;

    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include mq(tab-only) {
        font-size: 12px;
        line-height: calc(14/12);
    }
}

.header__icon {
    fill: currentColor;
}