.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--primary-white-color);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100vw - 30px);

    @include mq(mob) {
        width: 450px;
    }

    @include mq(desk) {
        width: 528px;
    }
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white-color);

}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-close-button:hover &,
    .modal-close-button:focus & {
        fill: var(--accent-color);
    }
}