.subscription {
    margin-left: 93px;
}

.subscription__call-to-action {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.subscription__wrap {
    display: flex;
    gap: 12px;
}

.subscription__input {
    width: 358px;
    height: 50px;
    padding: 0 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}